.container {
    background: $container;
    border-bottom: solid $titles;
    box-shadow: 0px 2px 2px #9b9999;
    -moz-box-shadow: 0px 2px 2px #9b9999;
    -webkit-box-shadow: 0px 2px 2px #9b9999;
    height: 20%;
    margin-bottom: 2rem;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    width: 80%;
}

.details {
    box-sizing: border-box;
    color: $details;
    float: right;
    max-height: 45%;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: left;
    width: 45%;
}

.list_div {
    padding-top: 30rem;
}

.main_title {
    color: $titles;
    max-height: 10%;
    text-align: center;
    width: 100%;
}

.title {
    color: $titles;
    max-height: 10%;
    padding-left: 2rem;
    width: 100%;
}

.title_div {
    background-color: $bdy-bckgnd;
    position: fixed;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="details"] {
        text-align: center;
        width: 100%;
    };

    [class*='title'] {
        margin: auto;
        padding-bottom: 2rem;
        padding-left: 0;
        padding-top: 2rem;
        text-align: center;
    }

}

