.container {
    width: 80%;
    height: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2rem;
    background: $container;
    overflow: hidden;
    border-bottom: solid $titles;
    box-shadow: 0px 2px 2px #9b9999;
    -moz-box-shadow: 0px 2px 2px #9b9999;
    -webkit-box-shadow: 0px 2px 2px #9b9999;
}

.details {
    float: right;
    color: $details;
    width: 45%;
    max-height: 45%;
    text-align: left;
    box-sizing: border-box;
    padding-top: 2%;
    padding-bottom: 2%;
}

.title {
    width: 100%;
    max-height: 10%;
    color: $titles;
    padding-left: 2rem;
}


.main_title {
    text-align: center;
    width: 100%;
    max-height: 10%;
    color: $titles;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="details"] {
        width: 100%;
        text-align: center;
    };
    [class*='title'] {
        text-align: center;
        margin: auto;
        padding-left: 0;
        padding-top: 2rem;
    }

}

