.filter_title {
    background-color: $selected;
    box-shadow: 0px 0px 2px 1px $shadow;
    color: $not_selected;
    margin: auto;
    padding: 1rem;
    text-align: center;
    width: 80%;
}

.active {
    transition: color 0.5s ease;
    color: $selected;
    cursor: default;
    text-shadow: 2px 2px 2px #f3f3f3;
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 2rem; 
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*='active'] {
        width: 50%;
        margin-bottom: 1rem;
    }

}

.not_Active {
    transition: color 0.5s ease;
    color: $not_selected;
    cursor: default;
    text-shadow: 2px 2px 0px #f3f3f3;
    float: left;
    width: 25%;
    text-align: center; 
    margin-bottom: 2rem; 
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*='not_Active'] {
        width: 50%;
        margin-bottom: 1rem;
    }

}

.switch_Active {
    background-color: $not_selected;
    -webkit-transition: background-color 0.5s ease,  margin-left 0.5s ease;
    -moz-transition: background-color 0.5s ease,  margin-left 0.5s ease;
    -o-transition: background-color 0.5s ease,  margin-left 0.5s ease;
    transition: background-color 0.5s ease,  margin-left 0.5s ease;
    border-radius: 50%;
    height: 20px;
    margin-left: 45%;
    width: 20px;
}

.switch {
    background-color: $selected;
    -webkit-transition: background-color 0.5s ease, margin-left 0.5s ease;;
    -moz-transition: background-color 0.5s ease, margin-left 0.5s ease;;
    -o-transition: background-color 0.5s ease, margin-left 0.5s ease;;
    transition: background-color 0.5s ease, margin-left 0.5s ease;;
    border-radius: 50%;
    height: 20px;
    margin-left: 50%;
    width: 20px;
}