.checkbox {
    margin: 0 0 1% 10%;
}

.filter {
    appearance: none;
    background: $bdy-bckgnd;
    border: none;
    border-bottom: solid $container;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 10%;
    text-align: center;
    width: 80%;
}

.filter_container {
    margin-bottom:1%;
}

.label {
    border: none;
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*='checkbox'] {
        margin-left: 15%;
        text-align: left;
    }

}
