.image {
    box-shadow: 0px 0px 5px 1px $shadow;
    max-height: 45%;
    width: 45%
}

.image_container {
    margin: 0;
    padding: 2rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="image"] {
        width: 95%;
    }
    [class*='image_container'] {
        padding: auto;
    }
}