
/*****Home Div*****/
#welcome {
    height: 100rem;
}

@media only screen and (max-width: $mobile) {
    /***** For mobile phones: *****/
    #welcome {
        height: 50rem;
    }
}

/*****Carlos Guido Guido*****/
.head {
    color: $titles;
    float: left;
    margin: 1rem 0 2rem 1rem;
    font-size: 6rem;
    text-shadow: 1px 1px 1px $shadow;
}

@media only screen and (max-width: $mobile) {
    /***** For mobile phones: *****/
    [class*='head'] {
        float: none;
        font-size: 2rem;
        margin: 2rem auto auto 2rem;
        text-align: left;

    }
}

.block {
    width: 100%;
}

/*****Front-end Developer subtitle*****/
#sub {
    animation: slide 1.5s forwards;
    -webkit-animation: slide 1.5s forwards;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    color: $selected;
    font-size: 4rem;
    margin: auto;
    padding: 2.5rem;
    position: absolute;
    right: -100rem;
    text-shadow: 1px 1px 1px $shadow;
}
@media only screen and (max-width: $mobile) {
    /***** For mobile phones: *****/
    #sub {
        float: none;
        font-size: 2rem;
        margin: auto;
        padding: 0;
        text-align: center;
        width: 100%;
    }
}
/*****Subtitle animation*****/
@media only screen and (max-width: $mobile) {
    /***** For mobile phones: *****/
    @keyframes slide {
        100% { right: 0%; }
    }
    @-webkit-keyframes slide {
        100% { right: 0%; }
    }
}

@media only screen and (min-width: $mobile + 1) {
    /***** For Desktop: *****/
    @keyframes slide {
        100% { right: 75rem; }
    }
    @-webkit-keyframes slide {
        100% { right: 75rem; }
    }
}

/*****Menu*****/
.menu {
    opacity: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    float: right;
    margin: 4rem 1rem 0 0 ;
    animation: appear 2s forwards;
    -webkit-animation: appear 2s forwards;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    width: 5%;
}
/***** Menu animation *****/
@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media only screen and (max-width: $mobile) {
    /***** For mobile phones: *****/
    .menu {
        width: 4%;
        margin: 5rem 2rem 0 0;
        text-align: center;
    }
}

.menu a i {
    color: $titles;
    font-size: 5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px $shadow;
}

@media only screen and (max-width: $mobile) {
    /***** For mobile phones: *****/
    .menu a i {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: $mobile + 1){
    .menu a i:hover {
        color: $selected;
    }
}

/*****About me *****/
.text_box p {
    font-size: 3rem;
    width: 40%;
    border: 1px solid $selected;
    color: $not_selected;
}

@media only screen and (max-width: $mobile) {
    /***** For mobile phones: *****/
    [class*='text_box'] p {
        font-size: 1rem;
    }
}

#about {
    padding: 2rem;
    position: absolute;
    top: 25%;
    left: 10%;
}

@media only screen and (max-width: $mobile) {
    /***** For mobile phones: *****/
    #about {
        position: absolute;
        margin: 2rem;
        top: 20%;
        left: 10%;
    }
}

#tech {
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
}

@media only screen and (max-width: $mobile) {
    /***** For mobile phones: *****/
    #tech {
        position: absolute;
        margin: 2rem;
        top: 45%;
        left: 35%;
    }
}
/***** General use *****/
.titles {
    border-bottom: 2px solid $selected;
    color: $titles;
    font-size: 5rem;
    margin: 3rem;
    text-shadow: 1px 1px 1px $shadow;
    width: 100%;
}

@media only screen and (max-width: $mobile) {
    /***** For mobile phones: *****/
    .titles {
        width: 70%;
        text-align: center;
        padding-bottom: 1rem;
        margin: 1rem auto 1rem auto;
    }
}
.links {
    text-align: center;
    display: block;
    width: 100%;
}

@media only screen and (min-width: $mobile + 1) {
    /***** For mobile phones: *****/
.links a:hover {
    color: $selected;
}
}

.links a {
    color: $titles;
    font-size: 5rem;
    padding: 2rem;
}

@media only screen and (max-width: $mobile) {
    /***** For mobile phones: *****/
    .links a{
        font-size: 4rem;
    }
}