html {
    font-size: 62.5%;
}

body {
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: $m-size;
        background-color: $bdy-bckgnd;
        margin: 0;
    }

button:enabled {
    cursor: pointer;
}
