// Colors
$bdy-bckgnd: #fffbf2;
$container: #e6ebff;
$shadow: #707070;
$selected: #ffbe6a;
$not_selected: #707070;

//Spacing
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
